 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
   background-color: white;
   align-items: center;
}
header{
    background-image: url('immagini/sfondo_home.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}
nav{
    background-color: #105483;;
}
.logo{
    align-items: left;
} 